{
  "parser": "babel-eslint",
  "env": {  //定义环境变量
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "airbnb",
  "rules": {
    "semi": [0],  //0表示不检测分号
    "import/no-extraneous-dependencies": [0],
    "react/jsx-filename-extension": [0]
  }
}
